.row {
  padding-top: 10px;
  padding-bottom: 10px;
}

.icon-trash {
  cursor: pointer;
  text-align: center;
  opacity: 0.5;
  font-size: medium;

  &:hover {
    color: red;
    opacity: 1;
    font-size: large;
  }
}

.icon-confirm {
  cursor: pointer;
  text-align: center;
  color: darkorange;
  opacity: 1;
  font-size: large;
}

.icon-container {
  text-align: right;
  align-items: center;
  padding-left: 0;
}

.execution-time {
  font-weight: bold;
  font-size: 1em;
}

.execution-environment {
  background-color: mediumslateblue;
  border-radius: 0.5em;
  padding: 0.1em 0.4em;
  font-size: 0.65em;
  color: #fff;
}

.execution-branch {
  background-color: #073945;
  border-radius: 0.5em;
  padding: 0 0.4em;
  position: relative;
  font-size: small;
}

.execution-info-container {
  padding-right: 0;
}
