$default-color: #b6c4c8;

.execution-info-title {
  color: white;
  font-size: 1.2em;
  font-weight: bolder;
  margin: 1em 1em 0;
  text-shadow: 0 0 13px rgba(150, 150, 150, 1);
}

.execution-metadata {
  display: flex;
  justify-content: space-between;
  margin: 0.5em 1em 0.5em 1em;

  .execution-info {
    padding: 0 0 0 2px;

    div {
      margin-bottom: 5px;
    }
  }

  .execution-times {
    padding: 0;
    text-align: right;

    div {
      margin-bottom: 5px;
    }
  }

  .execution-branch span {
    background-color: #073945;
    border-radius: 0.5em;
    padding: 0 0.4em;
    position: relative;
    font-size: 1em;
  }

  .execution-env {
    color: $default-color;

    span {
      background-color: mediumslateblue;
      border-radius: 0.5em;
      padding: 0.1em 0.4em;
      font-size: 0.75em;
      font-weight: bold;
      color: #fff;
    }
  }

  .execution-tags {
    color: $default-color;

    span {
      background-color: steelblue;
      border-radius: 0.5em;
      padding: 0.1em 0.4em;
      font-size: 0.75em;
      font-weight: bold;
      color: #fff;
      margin: 1px;
    }
  }

  .execution-desc {
    color: $default-color;
    font-style: italic;
    font-size: 1em;
  }
}
