<div class="row">
  <app-executions-sidebar class="col-md-3 executions-sidebar"
                          *ngIf="projectId != null"
                          [projectId]="projectId"
                          [projectName]="projectNameFromRoute"
                          [executionIdFromRoute]="executionIdFromRoute"
                          [style.display]="styleDisplay"></app-executions-sidebar>
  <app-executions-content [ngClass]="contentNgClass"
                          [projectName]="projectNameFromRoute"
                          (showSideBarEmitter)="toggleSideBar($event)"></app-executions-content>
</div>
