<div class="container">
  <div class="logo-version-container">
    <a routerLink="/home" routerLinkActive="true">
      <div class="logo">
        <img src="../../../../assets/testra-logo.png">
        <div class="logo-text"><span>Testra</span></div>
      </div>
    </a>
    <span class="version"><sub><em>v{{packageVersion}}</em></sub></span>
  </div>
  <div class="github-stars">
    <a class="github-button" href="https://github.com/testra-tech/testra" data-icon="octicon-star"
       data-show-count="true" aria-label="Star testra on GitHub">Star</a>
  </div>
</div>
