@import "src/theme/theme-variables";
@import url("https://webfonts.ffonts.net/Skia.font");

.logo {
  height: 30px;
  width: 30px;
  display: inline;
}

img {
  height: inherit;
  width: inherit;
  position: relative;
  top: -9px;
  margin-right: 5px;
}

.logo-text {
  padding: 0 nb-theme(padding);
  font-size: 2.5rem;
  font-weight: nb-theme(font-weight-bolder);
  white-space: nowrap;
  display: inline;
  height: inherit;

  span {
    font-family: Skia, cursive;
    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);
  }
}

a {
  text-decoration: none;
}

.container {
  div {
    display: inline;
  }

  .github-stars {
    margin-left: 50px;
  }
}
