<nb-card [nbSpinner]="loading$ | async" nbSpinnerStatus="success">
  <nb-card-header>
    <div>Executions</div>
    <fa-icon [icon]="faFilter"></fa-icon>
  </nb-card-header>
  <nb-card-body>
    <app-execution-list [executions]="executions$ | async"
                        [projectName]="projectName"
                        [isLoading]="false"
                        [isLoadSuccess]="true"
                        [currentExecution]="currentExecution$ | async"
                        (removeExecution$)="removeExecution($event)"
                        (selectedExecutionId$)="selectExecution($event)">"
    </app-execution-list>
  </nb-card-body>
</nb-card>
