<nb-card [nbSpinner]="loading$ | async" nbSpinnerStatus="success">
  <nb-card-header>
    <app-project-sidebar-header [message]="message$ | async"
                                [projectsCount]="projectsTotal$ | async"
                                (createProject$)="createProject($event)"></app-project-sidebar-header>
  </nb-card-header>
  <nb-card-body>
    <app-project-list [projects]="projects$ | async"
                      [isLoadSuccess]="isProjectLoadSuccess"
                      [currentProject]="currentProject$ | async"
                      (selectedProjectName$)="selectProject($event)"
                      (removeProject$)="removeProject($event)">
    </app-project-list>
  </nb-card-body>
</nb-card>
