<div *ngIf="isLoadSuccess">
  <ul class="list">
    <li *ngFor="let project of projects;trackBy:trackByProjectId"
        [ngClass]="{'active': currentProject?.name == project.name}"
        (click)="selectListItem(project.name)">
      <app-project-item [name]='project.name'
                        [id]='project.id'
                        (remove$)="removeProject(project.id)">
      </app-project-item>
    </li>
  </ul>
</div>
<div *ngIf="isLoadSuccess == false">
  Unable to load projects from Backend
</div>
