<nb-card>
  <div class="row execution-info-title">
    <div>{{projectName}} / Executions / {{currentExecution.id}}</div>
  </div>
  <div class="row execution-metadata">
    <div class="col-md-8 execution-info">
      <div class="execution-branch"><span>{{currentExecution.branch}}</span></div>
      <div *ngIf="currentExecution.description.length > 0" class="execution-desc">
        {{currentExecution.description}}
      </div>
      <div class="execution-tags">
        <span *ngFor="let tag of currentExecution.tags">
          <span *ngIf="tag.length > 0">{{tag}}</span>
        </span>
      </div>
      <div *ngIf="currentExecution.buildRef.length > 0" class="execution-build-ref">
        {{currentExecution.buildRef}}
      </div>
    </div>
    <div class="col-md-4 execution-times">
      <div *ngIf="currentExecution.endTime != 0">
        <div style="color: #fff; font-weight: bold;">
          <fa-icon [icon]="faStopWatch"></fa-icon>
          {{(currentExecution.endTime - currentExecution.startTime) | prettyDuration}}
        </div>
        <div>
          <fa-icon [icon]="faClock"></fa-icon>
          {{currentExecution.startTime | date:'d/M/yy, h:mm a'}} - {{currentExecution.endTime |
          date:'d/M/yy, h:mm a'}}
        </div>
      </div>
      <div class="execution-env">Environment
        <span>{{currentExecution.environment | uppercase}}</span></div>
    </div>
  </div>
</nb-card>
