<nb-card>
  <div class="row">
    <div class="col-md-6">
      <div class="execution-info">
        <div class="id">{{projectName}} / Executions / {{currentExecution.id}}</div>
        <div class="id">ID - {{currentExecution.id}}</div>
        <div *ngIf="currentExecution.description.length > 0" class="id">Description -
          {{currentExecution.description}}
        </div>
        <div class="id">Branch - {{currentExecution.branch}} | Tags - {{currentExecution.tags}}
        </div>
        <div *ngIf="currentExecution.buildRef.length > 0" class="id">Build Reference -
          {{currentExecution.buildRef}}
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="execution-info">
        <div class="id">Duration - {{currentExecution.endTime - currentExecution.startTime}}</div>
        <div class="id">{{currentExecution.startTime | date:'MMM d, y, h:mm:ss a'}} -
          {{currentExecution.endTime | date:'MMM d, y, h:mm:ss a'}}
        </div>
        <div class="id">Environment - {{currentExecution.environment}}</div>
      </div>
    </div>
  </div>
</nb-card>
