<div *ngIf="(currentExecution$ | async)">
  <app-execution-content-header
    ngClass="styleDisplay"
    [projectName]="projectName"
    [currentExecution]="currentExecution$ | async"
    [style.display]="styleDisplay"
    (autoRefreshResultsEmitter)="loadExecutionStats()">
  </app-execution-content-header>
  <app-execution-content-body [currentExecution]="currentExecution$ | async"
                              [currentExecutionStats]="currentExecutionStats$ | async"
                              (showSidebarEmitter)="showSideBar($event)"
                              (showContentHeaderEmitter)="showHeader($event)">
  </app-execution-content-body>
</div>
