<div *ngIf="(currentExecution$ | async)">
  <app-execution-content-header
    [projectName]="projectName"
    [currentExecution]="currentExecution$ | async">
  </app-execution-content-header>
  <app-execution-content-body [currentExecution]="currentExecution$ | async"
                              [currentExecutionStats]="currentExecutionStats$ | async"
                              (autoRefreshResultsEmitter)="loadExecutionStats()"
                              (showSidebarEmitter)="showSideBar($event)">
  </app-execution-content-body>
</div>
