.result-card {
  margin: 0.5em;
}

.test-result {
  padding: 0.5em;
  text-align: left;

  .result-status-failed {
    padding: 0.1em 0.3em;
  }

  div {
    div {
      margin-bottom: 0.7em;
      font-weight: bold;
    }
  }
}

p {
  display: inline;
}

nb-card {
  padding: 1em;
  background-color: #09242b;
  word-wrap: break-word;
  font-family: monospace;
  color: #e19d9d;
}
