@import "../../../../../theme/theme";

@include nb-install-component() {
  nb-card {
    //max-height: 70vh;
  }

  nb-tabset /deep/ ul {
    position: relative;
    padding: 0.5em 0 0;
  }

  nb-tabset {
    height: 100%;
  }

  nb-tab {
    padding: 0;
    height: 80vh;
  }

  /deep/ngx-tab {
    display: block;
    padding: nb-theme(padding);
  }
}
