nb-card {
  padding: 1em;
  background-color: #09242b;
  word-wrap: break-word;
  font-family: monospace;
  color: coral;
  cursor: default;
  margin-bottom: 0.5em;

  &:hover {
    border: 3px solid #17a2b8;
    -webkit-box-shadow: 0 0 12px 0 rgba(0, 255, 170, 0.25);
    box-shadow: 0 0 12px 0 rgba(0, 255, 170, 0.25);
  }
}

.active {
  border: 3px solid #17a2b8;
  -webkit-box-shadow: 0 0 12px 0 rgba(0, 255, 170, 0.25);
  box-shadow: 0 0 12px 0 rgba(0, 255, 170, 0.25);
}
